# dev folders
.vscode
__pycache__
.ipynb_checkpoints

# datasets folders
*datasets
*dataset

# ignore JSON2YOLO
*JSON2YOLO

# folder with results of running YOLOv8 tasks like predict,
# train or validation
*runs
*.onnx

# YOLOv8 model files
*.pt

# image extensions
*.PNG
*.png
