# dev folders
.vscode
__pycache__
.ipynb_checkpoints

# datasets folders
*datasets
*dataset

# ignore JSON2YOLO
*JSON2YOLO

# folder with results of running YOLOv8 tasks like predict,
# train or validation
*runs
*.onnx

# YOLOv8 model files
*.pt
homework5/segmentation/yolov8s-seg_openvino_model
*.engine

# image extensions
*.PNG
*.png

# video files
*.mov

# zip-arhives
*.zip